<form>
    <div class="row">
        <div class="col-md-4">
            <input type="text" class="form-control" id="nome" placeholder="Nome">
            <input type="text" class="form-control" id="data" placeholder="Data">
            <button type="button" id="sendcadastro" class="btn btn-primary">cadastrar</button>
        </div>
    </div>
</form>

<script>


    $(document).ready(function () {
        $("#sendcadastro").click(function () {
           

            alert("FEITO!");
            location.reload();
       
        });


    });

</script>