@using MVC.Controllers
@{
    ViewData["Title"] = "Graficos";
}
@model VMOperador
<script src="https://code.jquery.com/jquery-1.9.1.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/variable-pie.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>

    <figure class="highcharts-figure">
        <div id="container"></div>
        <p class="highcharts-description">

            TESTE - HYAN
        </p>
    </figure>

<script>
    $(document).ready(function () {
        Highcharts.chart('container', {
            chart: {
                type: 'variablepie'
            },
            title: {
                text: 'VAI COMENDO.',
                align: 'left'
            },
            tooltip: {
                headerFormat: '',
                pointFormat: '<span style="color:{point.color}">\u25CF</span> <b> {point.name}</b><br/>' +
                    'Area (square km): <b>{point.y}</b><br/>' +
                    'Population density (people per square km): <b>{point.z}</b><br/>'
            },
            series: [{
                minPointSize: 10,
                innerSize: '20%',
                zMin: 0,
                name: 'countries',
                data: [{
                    name: 'hyan',
                    y: 505992,
                    z: 92
                }, {
                    name: 'hyan',
                    y: 551695,
                    z: 119
                }, {
                    name: 'hyan',
                    y: 312679,
                    z: 121
                }, {
                    name: 'victor',
                    y: 78865,
                    z: 136
                }, {
                    name: 'victor',
                    y: 301336,
                    z: 200
                }, {
                    name: 'victor',
                    y: 41284,
                    z: 213
                }, {
                    name: 'victor',
                    y: 357114,
                    z: 235
                }]
            }]
        });
    });



</script>



                    