<!DOCTYPE html>
@{
    var base64 = Convert.ToBase64String(Model.ByteArray);
    var imgSrc = String.Format("data:image/png;base64,{0}", base64);

}
<html>
<head>
    <title>Tela de Login</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #000;
        }




        .container {
            max-width: 350px;
            margin: 0 auto;
            padding-top: 100px;
        }

        .logo {
            text-align: center;
            margin-bottom: 20px;
        }

            .logo img {
                width: 150px;
                display: block;
                margin: 0 auto;
            }

        .form-group {
            margin-bottom: 15px;
        }

            .form-group label {
                display: block;
                font-weight: bold;
                margin-bottom: 5px;
                color: #fff;
            }

            .form-group input[type="text"],
            .form-group input[type="password"] {
                width: 100%;
                padding: 8px;
                font-size: 16px;
                border-radius: 5px;
                border: 1px solid #ccc;
            }

            .form-group button {
                width: 100%;
                padding: 10px;
                font-size: 16px;
                font-weight: bold;
                color: #fff;
                background-color: #3897f0;
                border: none;
                border-radius: 5px;
                cursor: pointer;
            }

                .form-group button:hover {
                    background-color: #3182d4;
                }

        .forgot-password {
            text-align: center;
            margin-top: 20px;
            font-size: 14px;
            color: #999;
        }

        .signup-link {
            text-align: center;
            margin-top: 20px;
            font-size: 14px;
            color: #999;
        }

        .toggle-password {
            position: absolute;
            right: 5px;
            top: 50%;
            transform: translateY(-50%);
            cursor: pointer;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="logo">
            <img src="@imgSrc" alt="Instagram Logo" />
        </div>
        <div class="form-group">
            <label for="username">Usuário:</label>
            <input type="text" id="username" name="username" placeholder="Digite seu usuário" />
        </div>
        <div class="form-group">
            <label for="password">Senha:</label>
            <div style="position: relative;">
                <input type="password" id="password" name="password" placeholder="Digite sua senha" />
                <span class="toggle-password">Ocultar</span>
            </div>

        </div>
        <div class="form-group">
            <button type="button"  id="btnentrar">Entrar</button >
        </div>
        <div class="forgot-password">
            <a href="#">Esqueceu sua senha?</a>
        </div>
        <div class="signup-link">
            <span>Não tem uma conta? </span>
            <a href="#">Cadastre-se</a>
        </div>
    </div>
</body>
</html>

<script>
    $(document).ready(function () {


        function atualizarrelogio() {

            var Data = new Date();
            var Horas = formatardata(Data.getHours());
            var Minutos = formatardata(Data.getMinutes());
            var Segundos = formatardata(Data.getSeconds());
            var Relogio = Horas + ":" + Minutos + ":" + Segundos;
            $('#username').attr('placeholder',"São exatamente:" + Relogio);
        };



        atualizarrelogio();


        setInterval(atualizarrelogio, 1000);

        function formatardata(number) {
            return number < 10 ? "0" + number : number;
        };


        $("#password").on("input", function () {
            var passwordValue = $(this).val();

            if (passwordValue.length >= 4) {
                $("#btnentrar").prop("disabled", false);
                $("#btnentrar").css("background-color", ""); // Restaura o estilo original
            } else {
                $("#btnentrar").prop("disabled", true);
                $("#btnentrar").css("background-color", "gray");
            }
        });

        $('#password').keypress(function (event) {
            if (event.keyCode === 13) { // código da tecla "Enter"
                var senha = $("#password").val();
                var email = $("#username").val();
                var bb = "Hyan";

                $.ajax({
                    url: "https://localhost:7237/Login/Login",
                    data: { "PassWord": senha, "EMAIL": email },
                    type: 'POST'
                })
                    .done(function (data) {
                        window.location.href = "https://localhost:7237";
                    });
            }
        });


            

        $(".toggle-password").click(function () {
            var passwordInput = $("#password");
            var toggleButton = $(this);

            if (passwordInput.attr("type") === "password") {
                passwordInput.attr("type", "text");
                toggleButton.text("Ocultar");

            } else {
                passwordInput.attr("type", "password");
                toggleButton.text("Mostrar");
            }
        });
    });


    
</script>
