@{
    ViewBag.Title = "Index";
}

<h2>Exemplo de paginação com Ajax</h2>

<div class="form-group" id="test">
    <label for="registrosPorPagina">Registros por página:</label>
    <select class="form-control" id="registrosPorPagina">
        <option value="5">5</option>
        <option value="10">10</option>
        <option value="15">15</option>
        <option value="20">20</option>
    </select>
</div>

<button class="btn btn-primary" id="btnObterDadosPaginados">Obter dados paginados</button>
    <div id="dados-paginados"></div>
<div id="ds"></div>

<script>
    function obter2() {
        var registrosPorPagina = $("#registrosPorPagina").val();
        var pagina = 1;
        obterDadosPaginados(pagina, registrosPorPagina);
    }

    function obterDadosPaginados(pagina, registrosPorPagina) {
        $.ajax({
            url: "@Url.Action("ObterDadosPaginados", "Login")",
            type: "GET",
            data: { pagina: pagina, registrosPorPagina: registrosPorPagina },
            success: function (data) {
                $("#btnObterDadosPaginados").fadeOut();
                $("#dados-paginados").html(data);
                $("#ds").html(data);
                $("#test").fadeOut();
            }
        });
    }

    setInterval(obter2, 500);
</script>

