@using MVC.Controllers
@{
    ViewData["Title"] = "Home Page";
}
@model VMOperador
<script src="https://code.jquery.com/jquery-1.9.1.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/variable-pie.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>


<div  class="d-flex justify-content-center">
    <div hidden id="btt"  style="height:100% ; width:100%" class="spinner-border" role="status">
        <span class="sr-only"></span>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Nome</th>
            <th scope="col">Data</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model.ListaOperadores)
        {     
        <tr>
            <td>@item.NM_NOME</td>
            <td>@item.CD_LOG_USUARIO</td>
                <td nowrap class="text-center">
                    <button class="btn btn-secondary" id="btnEdit">Excluir</button>
                </td>
        </tr>
        }
       
    </tbody>
</table>

<script>
    $(document).ready(function () {     
        $("#btnA").click(function () {
               $("#btt").toggle();


        });

  $("#btnEdit").click(function () {

                    alert("Sucesso!");
                    location.reload();
        });
        $("#btnSubmit").click(function () {
            $.ajax({
                url: "https://localhost:7237/home/EditarOperador",
                data: { "CD_USUARIO": 33 },
                type: 'POST'
            })
                .done(function (data) {

                    alert("Sucesso!" + data.sucesso);

                });
        });

        $("#fechar").click(function () {
            $.ajax({
                url: "https://localhost:7237/home/Login",
                data: { "CD_USUARIO": 33 },
                type: 'POST'
            })
                .done(function (data) {

                    alert("Sucesso!" + data.sucesso);

                });
        });



    });



</script>



                    